body {
    width: 100%;
    height: 100%;
    margin-top: 15%;
    background-color: #066d6d;
    display: flex;
    justify-content: center;
    }


[class^="cara-"] {    
    width: 120px;
    height: 120px;
    padding: 10px;
    background: #000000;
    display: flex;
    margin: 1em;

}

.dado {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.cara-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cara-2 {
    display: flex;
    justify-content: space-between;
}

.cara-2 .punto:nth-child(2) {
    align-self: flex-end;
}

.cara-3 {
    display: flex;
    justify-content: space-between;
}

.cara-3 .punto:nth-child(2) {
    align-self: center;
}

.cara-3 .punto:nth-child(3) {
    align-self: flex-end;
}

.cara-4 {
    display: flex;
    justify-content: space-between;
}

.cara-4 .columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cara-5 {
    display: flex;
    justify-content: space-between;

}

.cara-5 .estrella {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cara-5 .sol {
    display: flex;
    justify-content: center;
    align-self: center;

}

.cara-6 {
    display: flex;
    justify-content: space-between;


}

.barra {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;

}


.punto {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: floralwhite;

}