body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    
   

}

[class^="cuadro-"] {
    width: 510px;
    height: 400px;
    background: blue;
    margin: 15px 25px;

}

[class^="cara-"] {
    width: 75px;
    height: 75px;
    margin: 4px;
    display: flex;
    background-color: rgb(168, 40, 14);

}

[class^="punto"] {
    width: 20px;
    height: 20px;
    margin: 3px;
    border-radius: 50%;
    background-color: white;

}

.cuadro-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cara-2 {
    display: flex;
    justify-content: space-between;
}

.cara-2 .punto:nth-child(2) {
    align-self: flex-end
}

.cara-3 {
    display: flex;
    justify-content: space-between;
}

.cara-3 .punto:nth-child(2) {
    align-self: center;
}

.cara-3 .punto:nth-child(3) {
    align-self: flex-end
}

.cara-4 {
    display: flex;
    justify-content: space-between;

}

.cara-4 .columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cara-5 {
    display: flex;
    justify-content: space-between;
}

.cara-5 .estrella {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cara-5 .sol {
    display: flex;
    justify-content: center;
    align-self: center;
}

.cara-6 {
    display: flex;
    justify-content: space-between;
}

.cuadro-2 {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    flex-wrap: wrap;
    justify-content: center;
}

.cuadro-2 .l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cuadro-2 .m {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cuadro-3 {
    display: flex;
    background-color: green;       
}


 
